* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #fffcd5;
    --secondary-color: #151226;
    --contrast-color: #BF307F;

    /* Coolors gen */
    --white: #fafafaff;
    --winter-sky: #ff206eff;
    --lemon-glacier: #fbff12ff;
    --russian-violet: #392061ff;
    --rich-black-fogra-29: #011627ff;
    --bg: #0b3142;
    --blue-bell: #a491d3;
    --m: #9381ff;
}

body {
    margin: 0;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
    background-color: var(--rich-black-fogra-29);

    font-family: 'Montserrat', sans-serif;
    overflow: scroll;

}

#three {
    width: 100%;
    height: 100%;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: var(--white);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


html {
    /*scroll-behavior: smooth;*/

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.banner {

    top: 0;
    width: 100%;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainTitle {

    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 2;
}

#banner1 {

    background-image: linear-gradient(10deg, #b7e4f4, #fdd7bd);
}

#banner2 {

    background-image: linear-gradient(155deg, rgba(97, 165, 69, 1) 0%, rgb(89 85 197 / 94%) 50%, rgba(43, 182, 115, 1) 100%);
}


#banner3 {

    background-image: radial-gradient(circle, #27aae1 0%, #662d91 60%);
}

.banner img {
    filter: blur(2px);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.a {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin: 0;
    padding: 0;
    z-index: 9;
    transition: opacity 1s;

}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.fillPage {
    height: 100vh;
    z-index: 5;
    /*display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;*/
    display: flex;
    flex-direction: column;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    justify-content: center;
    padding-left: 5%;
    width: 60%;
    max-width: 600px;
    background-image: linear-gradient(to right, #00000073, transparent);
}



.Page {}

.Page h1 {
    font-size: 48px;
}

h1 {
    color: var(--white);
    font-size: 38px;
}

h2 {
    color: var(--white);
    font-weight: normal;

}

p {
    color: var(--white);
}


.Page h2 {
    font-size: 24px;
    font-weight: lighter;
    margin-left: 0px;
    margin-top: 0;
    padding: 0;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#empty-page {
    height: 100vh;
    width: 100vh;
}

span {
    display: flex;
    align-items: center;

}

span p {
    display: inline;

}

span img {
    display: inline;

}

/* LOADING CIRCLE */
.lds-ring {
    opacity: 1;
    z-index: 9999;
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 50%;
    left: calc(50% - 38px);
    transition: opacity 1s;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(2, 2, 2);
    border-radius: 50%;
    animation: spin 1s infinite linear;
    border-color: var(--white) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

#disable3d {
    margin-top: 100px;
    opacity: 1;
    z-index: 2;
    margin-right: 1px;
    display: flex;
    justify-content: center;


}

#disableButton {

    padding: 5.5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    z-index: 6;
    border: none;
    border-radius: 5%;

    transition: all 0.4s ease;
    font-family: 'Montserrat', sans-serif;
}

#disableButton:hover {
    opacity: 1;
    background-color: var(--winter-sky);
}

/* gsap front page stuff*/
.box {
    display: block;
    min-height: 14px;
    width: 100%;
    max-width: 30px;
    margin: 5px;
}

.custom-box {
    display: block;
    min-height: 14px;
    min-width: 57px;

}

.bar {

    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 5;
    display: flex;

    opacity: 0;
    cursor: default;
    top: 50px;
    left: 50px;
    transition: opacity 1s;
}

nav {
    align-items: center;
    display: flex;
}

.scroll-downs {
    position: fixed;
    display: block;
    opacity: 0;
    right: 0;
    bottom: 35px;
    left: 0;
    margin: auto;
    transition: opacity 1s;
    width: 34px;
    height: 55px;
    z-index: 2;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.50;
    box-sizing: content-box;
}

.scroller {

    z-index: 2;
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--white);
    transition: opacity 1s;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.return-to-top {

    position: fixed;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 33px;
    background: transparent;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    z-index: 6;
}

.return-to-top i {
    color: var(--white);
    margin: auto;
    position: absolute;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    animation-name: upNdown;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes upNdown {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(4px);
        opacity: 1;
    }

    100% {
        transform: translateY(-11px);
        opacity: 0;
    }
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

#return-to-top:hover i {
    color: var(--white);
    top: 5px;
    z-index: 2;

}

.Menu {
    opacity: 0;
    position: fixed;

    right: 25px;
    top: 0px;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    z-index: 2;
    transition: opacity 1s;
}

.Menu a {
    margin-right: 35px;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    color: var(--white);
    transition: opacity 0.5s;
    scroll-behavior: smooth;
}

.Menu a:hover {
    opacity: 1;
}

.fa.fa-circle {
    margin-left: 5px;
    font-size: 16px;
}

.Footer {

    opacity: 0;
    position: fixed;
    z-index: 2;
    right: 25px;
    bottom: 40px;

    transition: opacity 1s;
}

.Footer ul li a {
    font-size: 32px;
    text-decoration: none;
    opacity: 0.5;
    color: var(--white);
    margin-bottom: 25px;
    transition: opacity 0.4s;
}

.Footer ul li a:hover {
    opacity: 1;
}

.Footer ul {
    list-style: none;
    text-align: center;
}

#AboutH1 {
    margin: 5px;
    margin-bottom: 25px;

}

.hidden {
    opacity: 0;
}

.inline {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.projectTitle {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.projectsList {
    margin: 0;
    list-style-type: none;

}

.projectLi {
    margin-top: 22px;



}

.projectsHeader {
    margin: 0;
}


.hover-underline-animation {
    z-index: 5000;
    position: relative;
    color: var(--white);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

.overlay {
    display: block;
    position: fixed;
    opacity: 1;
    transition: opacity 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: var(--rich-black-fogra-29);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.144);
    opacity: 0.5;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.315);
}

.container {

    width: 100%;
    z-index: 3;
    opacity: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: all 0.3s ease;
    background-color: var(--rich-black-fogra-29);
    font-family: 'Abyssinica SIL', serif;
    overflow: auto;
    align-items: center;
}

.empty {
    width: 27%;
    height: 100vh;
    opacity: 0;

}

.path {
    stroke-width: 2;
    stroke: #000000;
    fill: transparent;
}

.pathLine {
    animation: dashLine 5s linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

h3.sub-title {}

@keyframes dashLine {
    to {
        stroke-dashoffset: 0;
    }
}

.container_content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    transition: opacity 1s;
    margin-top: 30px;
    margin-bottom: 75px;
    width: 100%;
    height: 100%;

}

.container_content_inner {

    width: 100%;
    justify-self: center;
    margin-bottom: 75px;
    min-width: 600px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

p.figure {
    color: #fafafa8a;
    margin-top: 8px;
    font-size: 14px;
}

.summary {
    color: #317585;
    margin-bottom: 20px;
}

.container_outer_img {
    overflow: hidden;
}

.container_img {

    width: 50%;

}

.text {
    margin-bottom: 18px;
}

h3.sub-title {
    color: #fafafafa;
    font-size: 20px;
    margin-bottom: 4px;
}

.btns {
    z-index: 10;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
    opacity: 0;
    transition: opacity 1s;
}

.btns_return {
    margin-left: auto;
    margin-top: 30px;
    margin-right: 0;
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    min-width: 85px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

.btns_return:hover {
    background-color: var(--white);
    opacity: 0.5;
}


#interactable {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--winter-sky);
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    cursor: pointer;

}

#interactable i {
    margin-bottom: 4px;
}

.intro {
    font-size: 18px;
}

.project i.fa {
    opacity: 0.7;
    color: var(--white);
    font-size: 23px;
}

.sidenav {

    position: fixed;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 1px;
    background-color: #000000;
    min-width: 700px;

    height: 100%;

    transition: all 0.3s ease;
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;

}

.introlink {
    color: var(--winter-sky);
    text-decoration: none;
    transition-duration: 0.15s;
}

.introlink:hover {
    filter: brightness(0.7);
}

.list {

    display: flex;
    flex-direction: column;
    transform: skewX(-15deg);
}

.alignRight {
    display: flex;
    justify-content: center;
}

.sidenav a {

    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
    opacity: 0.8;
    font-weight: 500;
    transition: color .15s, transform .5s;
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.sidenav a:hover {
    opacity: 1;
}

.sidenav .closebtn {
    position: absolute;
    transform: skewX(-15deg);
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.title {
    color: #fafafa;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


h1.readingTitle {
    text-align: center;
    font-size: 40px;
    color: #708D81;
    margin-bottom: 20px;
}

.projectNavigator {
    display: flex;
    top: 0;
    margin-top: 5%;
    justify-content: space-between;
    width: 100%;
    z-index: 21;
    position: fixed;
    background: transparent;
    overflow: hidden;

}

#left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Introduction {
    width: 32%;
}

#portfolioProject {}

#master {}

#partyProject {
    position: relative;
}

#workshift {}

.hide {
    display: none;
    opacity: 0;
}

/* Animations */
@keyframes slideIn {
    0% {
        transform: skewX(15deg) translateX(-100%) scale(0);
    }

    100% {
        transform: skewX(15deg) translateX(0%) scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;

    }
}


@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0px);
    }
}

/* @Media for slightly smaller window */
@media screen and (max-width : 510px) {
    .sidenav {
        min-width: 100%;
    }
}

@media screen and (max-width : 890px) {
    .container_content {
        grid-template-columns: 13% 75% 13%;
    }

    .container_content_inner {
        min-width: 200px;
    }
}

/* @Media for slightly smaller window */
@media screen and (max-width : 510px) {
    .sidenav {
        min-width: 100%;
    }
}

@media screen and (max-height : 700px) {
    .Footer ul li a {
        font-size: 27px;
    }

}

@media screen and (max-height : 660px) {
    .Footer ul li a {
        font-size: 27px;
        margin-bottom: 15px;
    }

    .Menu a {

        margin-right: 15px;
        font-size: 23px;
    }
}

/* @Media for mobile */
@media screen and (max-device-width : 420px) {


    /* Main UI */
    .Footer {
        bottom: 100px;
    }

    .Footer ul li a {
        font-size: 60px;
        margin-bottom: 45px;
    }

    .Menu a {
        font-size: 50px;

    }

    .fa.fa-circle {
        margin-top: 2px;
        font-size: 30px;
    }

    /* Main Project List */
    .projectsHeader {
        font-size: 34px;
    }

    .projectsList {
        width: 100%;
    }

    .projectLi {
        font-size: 34px;
        width: 100%;
    }

    .project i.fa {
        font-size: 46px;
        margin-right: 15px
    }

    /* About */
    .fillPage {
        width: 100%;
        background-image: none;
    }

    .fillPage p {
        line-height: normal;

    }

    .Introduction {
        width: 50%;
    }

    .Page {
        width: 100%;
    }

    .intro {
        font-size: 32px;
    }

    .projectsHeader h1 {
        font-size: 72px;
    }


    .Page #AboutH1 {
        font-size: 64px;
    }

    /* Project view */
    h1.readingTitle {
        font-size: 72px;
    }

    h2.title {
        font-size: 34px;
    }

    .container_img {
        width: 100%;
    }

    .summary {
        font-size: 28px;
    }

    .container_content {
        grid-template-columns: 22% 56% 22%;
    }

    .container_content_inner {
        margin-bottom: 45px;


    }

    .button-30 {
        height: 60px;
        font-size: 32px;
    }

    .text {
        font-size: 28px;
        margin-bottom: 18px;
    }

    h3.sub-title {
        color: #fafafafa;
        font-size: 36px;
        margin-bottom: 18px;
    }


}